
$primary: #FFEDFA;

//pagination text
$pagination-color: red;
$pagination-focus-color: red;

//pagination background
$pagination-bg: white;
$pagination-focus-bg: #FFEDFA;







@import '../node_modules/bootstrap/scss/bootstrap';