
$primary: #FFEDFA;

//pagination text
$pagination-color: red;
$pagination-focus-color: red;

//pagination background
$pagination-bg: white;
$pagination-focus-bg: #FFEDFA;

$pagination-active-color:red;

$pagination-hover-bg: white;
$pagination-hover-color: red;






@import '../node_modules/bootstrap/scss/bootstrap';